<table class="table">
  <thead>
    <tr>
      <th scope="col">User Name</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Permissão</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <!--<tr>
      <td>mmmm</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>mmmm</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td>mmmm</td>
      <td>mmmm</td>
      <td>@twitter</td>
      <td>mmmm</td>
    </tr>-->
  </tbody>
</table>
