<div id="centralizar" class="container">
<form #userForm="ngForm"
(ngSubmit)="add(userForm)">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Login</label>
      <input type="text" class="form-control" [(ngModel)]="user.username" placeholder="Login" #username="ngModel" name="username">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Senha</label>
      <input type="password" class="form-control" [(ngModel)]="user.password" placeholder="Senha" #password="ngModel" name="password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Nome</label>
    <input type="text" class="form-control" [(ngModel)]="user.name" placeholder="Nome" #name="ngModel" name="name">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Email</label>
      <input type="email" class="form-control" [(ngModel)]="user.email" placeholder="Email" #email="ngModel" name="email">
    </div>
    <div class="form-group col-md-4">
      <label for="inputEstado">Nível de Permissão</label>
      <select [(ngModel)]="user.permissionLevel" class="form-control" #permissionLevel="ngModel" name="permissionLevel">
        <option value="" selected>Escolher...</option>
        <option value="none">Nenhum</option>
        <option value="view">Visualização</option>
        <option value="adm">Administrador</option>
      </select>
    </div>

  </div>

  <button type="submit" class="btn btn-primary">Salvar</button>
</form>

</div>
